:root {
    --primary: #DA5CDE;
    --secondary: #401A9F;
    --tertiary: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER STYLE START*/
header {
    display: flex;
    justify-content: space-between;
    font-size: 4.5vh;
}

header p {
    padding: 20px 40px 40px 35px;
    margin-bottom: 20px;
}

.view-scores a {
    text-decoration: none;
    color: var(--primary);
}
/* HEADER STYLE END */

main {
    text-align: center;
    margin-top: 20px;
}

/* TITLES */
main h1 {
    font-size: 9vh;
    padding: 15px;
}

/* INSTRUCTION */
main p {
    margin: 15px auto;
    font-size: 5vh;
    line-height: 1.3;
    width: 55%;
}

/* BUTTONS */
main button {
    padding: 10px 25px;
    margin-top: 15px;
    font-size: 5.5vh;
    color: var(--tertiary);
    background-color: var(--secondary);
    border-radius: 10px;
    border-style: none;
}

main button:hover {
    background-color: var(--primary);
}

/* MAIN STYLE CHANGE WHEN QUESTIONS START */
.main-style {
    text-align: left;
    margin: 20px auto;
    width: 70%;
}

/* ANSWERS STYLE */
.answer-list {
    display: flex;
    flex-direction: column;
}

.answer-btn {
    text-align: left;
    width: 70vh;
    margin-left: 20px;
}

.answer {
    margin: 5px 0 5px 30px;
}

/* RESULT SECTION STYLE*/
.section-border {
    margin-top: 50px;
    color: #b9b7be;
    font-style: italic;
    border-top: 2px solid;
}

.result {
    margin: 15px 0 0 15px;
    font-size: 8vh;
}

/* FINAL SCORE SCREEN STYLE */
.final-score {
    margin: 0;
    padding: 15px 0 18px 15px;
    font-size: 6vh;
    line-height: 1;
}

.flex-wrap {
    padding-left: 15px;
    display: flex;
}

.initial-form {
    font-size: 6vh;
    margin-right: 20px;
}

#initial {
    padding: 3px 8px;
    font-size: 5.5vh;
}

#initial:focus {
    outline: none;
    border: 2px solid #419dd6;
}

.submit-btn {
    padding: 0 20px;
    margin-top: 0;
    font-size: 5vh;
    border-radius: 6px;
}

/* HIGH SCORES SCREEN STYLE START */
.high-scores-list {
    margin: 10px 20px;
}

.score-item {
    font-size: 5vh;
    padding: 8px 12px;
    list-style-position: inside;
}

.score-item:nth-of-type(odd) {
    background: #7274F760;
}

.secondary-btn {
    margin: 10px 5px;
    padding: 8px 15px;
    font-size: 5vh;
    border-radius: 6px;
}

.secondary-btn a {
    text-decoration: none;
    color: var(--tertiary);
}
/* HIGH SCORE SCREEN STYLE END */

/* RESPONSIVE DESIGNS START */
@media screen and (max-width: 980px) {
    main p {
        width: 70%;
    }

    /* QUESTIONS START FROM HERE */
    .main-style {
        width: 75%;
    }

    .answer-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 0;
    }

    /* QUESTIONS START FROM HERE */
    .main-style {
        margin-top: 0;
    }

    .answer-btn {
        width: 50vh;
    }

    /* FINAL SCORE SCREEN */
    .initial-form {
        display: flex;
        flex-direction: column;
    }

    #initial {
        margin-top: 10px;
    }

    .submit-btn {
        margin-top: 40px;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 575px) {
    header p {
        padding: 20px 25px;
        margin: 0;
    }

    main h1 {
        font-size: 43px;
        padding: 15px 20px;
    }

    main p {
        width: 80%;
    }

    /* QUESTIONS START FROM HERE */
    .main-style {
        width: 90%;
    }

    .answer-list {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .answer-btn {
        width: 60vh;
        margin: 15px auto 0 auto;
    }

    /* FINAL SCORE SCREEN AND HIGH SCORE SCREEN */
    .flex-wrap {
        flex-wrap: wrap;
    }
}
/* RESPONSIVE DESIGNS END */